*.apk
*.iml
*.log

.DS_Store
.externalNativeBuild
.gradle

/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/codeStyles/
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/misc.xml
/.idea/StickySelectionHighlights.xml
/.idea/workspace.xml
/app/rc/release/
/build
/captures
/local.properties
/rc

output.json


_Emoji/emoji-data
_Emoji/emoji4unicode
_Emoji/emojione
_Emoji/mastodon
_Emoji/noto-emoji
_Emoji/twemoji
_Emoji/assets
_Emoji/cache
_Emoji/drawable-nodpi

_Emoji/*.json
_Emoji/*.log
_Emoji/*.txt

detektReport/
