*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.hprof
*.iml
*.iws
*.jks
*.keystore
*.log
.DS_Store
.cxx/
.externalNativeBuild
.gradle
.gradle/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/deploymentTargetSelector.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/build_file_checksums.ser
.idea/dictionaries
.idea/gradle.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/tasks.xml
.idea/workspace.xml
.idea_modules/
.navigation/
/*.txt
/.depCheck/
/.idea/StickySelectionHighlights.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/codeStyles/
/.idea/deploymentTargetDropDown.xml
/.idea/deviceManager.xml
/.idea/jarRepositories.xml
/.idea/libraries
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/workspace.xml
/.kotlin/
/_Emoji/*.json
/_Emoji/*.log
/_Emoji/*.txt
/_Emoji/assets
/_Emoji/cache
/_Emoji/drawable-nodpi
/_Emoji/emoji-data
/_Emoji/emoji4unicode
/_Emoji/emojione
/_Emoji/mastodon
/_Emoji/noto-emoji
/_Emoji/twemoji
/_apk/
/app/detekt-*.xml
/app/fcm/release/output-metadata.json
/app/rc/release/
/build
/build-logic/.kotlin/
/captures
/detektReport/
/keystore.properties
/local.properties
/rc
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
out/
output.json
proguard/
vcs.xml
keystore.properties
