<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <!-- (自アプリ以外で)指定URLを開けるアプリの存在確認 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- Chrome Custom Tabs の存在確認 -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <!-- Chrome Custom Tabs が明示指定するChromeパッケージ -->
        <package android:name="com.android.chrome" />

        <!-- カスタム共有ボタンのアプリ選択 -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- TTS読み上げに必要 -->
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>

        <!-- Simejiマッシュルームプラグインの存在確認 -->
        <intent>
            <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
        </intent>

        <!-- <intent>-->
        <!-- <action android:name="android.intent.action.SEND" />-->
        <!-- <data android:mimeType="video/*" />-->
        <!-- </intent>-->
        <!-- <intent>-->
        <!-- <action android:name="android.intent.action.VIEW" />-->
        <!-- <data android:mimeType="video/*" />-->
        <!-- </intent>-->
    </queries>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- CAMERAパーミッションをつけるとPlayストアにプライバシーポリシーを記載する必要がある -->
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Android 13以上で BOOT_COMPLETED を受け取るために必要 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!--suppress AndroidUnknownAttribute -->
    <application
        android:name=".App1"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_spec"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:localeConfig="@xml/locales_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="DataExtractionRules,UnusedAttribute">

        <activity
            android:name=".ActMain"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActCallback"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*"
                    android:scheme="${customScheme}" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPrefix="/@"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="post"
                    android:scheme="web+activitypub" />
            </intent-filter>

            <!-- https://mstdn.kemono-friends.info/users/tocchi/updates/695489 -->
            <!-- URLの数字部分はstatus_id「ではない」ようだ。謎なのでまだ対応できない。。。 -->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->

            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE"/>-->

            <!--<data-->
            <!--android:host="*"-->
            <!--android:pathPrefix="/users/"-->
            <!--android:scheme="https"/>-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ActPost"
            android:exported="false"
            android:label="@string/act_post"
            android:windowSoftInputMode="adjustResize">

            <!--suppress AndroidElementNotAllowed -->
            <layout
                android:defaultHeight="480dp"
                android:defaultWidth="320dp"
                android:gravity="center"
                android:minHeight="64dp"
                android:minWidth="64dp"
                tools:ignore="UnusedAttribute" />

        </activity>

        <activity
            android:name=".ActAccountSetting"
            android:exported="false"
            android:label="@string/account_setting"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActAppSetting"
            android:exported="false"
            android:label="@string/app_setting"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActColumnList"
            android:exported="false"
            android:label="@string/column_list"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ActAbout"
            android:exported="false"
            android:label="@string/app_about" />

        <activity
            android:name=".ui.ossLicense.ActOSSLicense"
            android:exported="false"
            android:label="@string/oss_license" />

        <activity
            android:name=".ActMutedApp"
            android:exported="false"
            android:label="@string/muted_app" />

        <activity
            android:name=".ActMutedPseudoAccount"
            android:exported="false"
            android:label="@string/muted_users_from_pseudo_account" />

        <activity
            android:name=".ActMutedWord"
            android:exported="false"
            android:label="@string/muted_word" />

        <activity
            android:name=".ActFavMute"
            android:exported="false"
            android:label="@string/fav_muted_user_long" />

        <activity
            android:name=".ActKeywordFilter"
            android:exported="false"
            android:label="@string/keyword_filter_new"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActHighlightWordList"
            android:exported="false"
            android:label="@string/highlight_word" />

        <activity
            android:name=".ActHighlightWordEdit"
            android:exported="false"
            android:label="@string/highlight_word" />

        <activity
            android:name=".ActColumnCustomize"
            android:exported="false"
            android:label="@string/color_and_background"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActLanguageFilter"
            android:exported="false"
            android:label="@string/language_filter"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ActDrawableList"
            android:exported="false"
            android:label="@string/drawable_list"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActNickname"
            android:exported="false"
            android:label="@string/acct_customize"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActText"
            android:exported="false"
            android:label="@string/select_and_copy"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <activity
            android:name=".ActMediaViewer"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".ActExitReasons"
            android:exported="false"
            android:label="@string/exit_reasons"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name="jp.juggler.subwaytooter.ActPushMessageList"
            android:exported="false"
            android:label="@string/push_message_history" />
        <activity
            android:name="jp.juggler.subwaytooter.ActAlert"
            android:exported="false"
            android:label="@string/alert" />
        <activity
            android:name="jp.juggler.subwaytooter.ActGlideTest"
            android:exported="false"
            android:label="@string/glide_test" />

        <meta-data
            android:name="android.max_aspect"
            android:value="100.0" />

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <receiver
            android:name=".EventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".DownloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="jp.juggler.subwaytooter.pref.LazyContextInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="jp.juggler.subwaytooter.pref.PrefDeviceInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="jp.juggler.subwaytooter.notification.NotificationChannelsInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="jp.juggler.subwaytooter.table.AppDatabaseHolderIniitalizer"
                android:value="androidx.startup" />
        </provider>

        <receiver
            android:name=".push.UpMessageReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="org.unifiedpush.android.connector.MESSAGE" />
                <action android:name="org.unifiedpush.android.connector.UNREGISTERED" />
                <action android:name="org.unifiedpush.android.connector.NEW_ENDPOINT" />
                <action android:name="org.unifiedpush.android.connector.REGISTRATION_REFUSED" />
            </intent-filter>
        </receiver>
        <receiver android:name="jp.juggler.subwaytooter.notification.NotificationDeleteReceiver" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

    </application>
</manifest>
