<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.juggler.subwaytooter"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- CAMERAパーミッションをつけるとPlayストアにプライバシーポリシーを記載する必要がある -->
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->

    <application
        android:name=".App1"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_spec"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light"
        >

        <receiver android:name=".EventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>

        <service
            android:name=".PollingService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />

        <service
            android:name=".PollingForegrounder"
            />

        <activity
            android:name=".ActMain"
            android:label="@string/app_name"
            android:launchMode="singleTask"

            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActCallback"
            android:label="@string/app_name"

            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:pathPattern=".*"
                    android:scheme="subwaytooter"
                    />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*"
                    android:pathPrefix="/@"
                    android:scheme="https"
                    />
            </intent-filter>

            <!-- https://mstdn.kemono-friends.info/users/tocchi/updates/695489 -->
            <!-- URLの数字部分はstatus_id「ではない」ようだ。謎なのでまだ対応できない。。。 -->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->

            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE"/>-->

            <!--<data-->
            <!--android:host="*"-->
            <!--android:pathPrefix="/users/"-->
            <!--android:scheme="https"/>-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ActPost"
            android:label="@string/act_post"

            android:windowSoftInputMode="adjustResize"
            />

        <activity
            android:name=".ActAccountSetting"
            android:label="@string/account_setting"

            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <activity
            android:name=".ActAppSetting"
            android:label="@string/app_setting"

            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />
        <activity
            android:name=".ActAppSettingChild"
            android:label="@string/app_setting"

            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <activity
            android:name=".ActColumnList"
            android:label="@string/column_list"

            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".ActAbout"
            android:label="@string/app_about"

            />
        <activity
            android:name=".ActOSSLicense"
            android:label="@string/oss_license"

            />
        <activity
            android:name=".ActMutedApp"
            android:label="@string/muted_app"
            />
        <activity
            android:name=".ActMutedWord"
            android:label="@string/muted_word"
            />

        <activity
            android:name=".ActFavMute"
            android:label="@string/fav_muted_user_long"
            />

        <activity
            android:name=".ActKeywordFilter"
            android:label="@string/keyword_filter_new"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <activity
            android:name=".ActHighlightWordList"
            android:label="@string/highlight_word"
            />
        <activity
            android:name=".ActHighlightWordEdit"
            android:label="@string/highlight_word"
            />

        <activity
            android:name=".ActColumnCustomize"
            android:label="@string/color_and_background"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <activity
            android:name=".ActNickname"
            android:label="@string/nickname_and_color_and_notification_sound"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <activity
            android:name=".ActText"
            android:label="@string/select_and_copy"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <activity
            android:name=".ActMediaViewer"
            android:theme="@style/AppTheme.Dark.NoActionBar"
            />

        <meta-data
            android:name="android.max_aspect"
            android:value="100.0"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="jp.juggler.subwaytooter.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path"
                />
        </provider>

        <receiver android:name=".DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <!-- okhttp3クライアントを指定する必要があるため、マニフェスト経由での組み込みは行わない -->
        <!--<meta-data-->
        <!--android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"-->
        <!--android:value="GlideModule" />-->

        <service
            android:name=".MyFirebaseMessagingService"
            tools:ignore="ExportedService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"
            />

        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/Light_colorAccent"
            />

        <!--https://android-developers.googleblog.com/2018/11/get-your-app-ready-for-foldable-phones.html-->
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true"
            />

    </application>

</manifest>